.App {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

.grow {
  background-color: transparent;
  line-height: 20px;
}
.grow:hover {
  transform: scale(1.2);
  font-size: 16px;
  color: gold;
}



